<ul class="no-bullet">
  <li><a href="https://www.wunderground.com/member/membersettings.html?page=favorites" title="Manage Favorites" onclick="s_objectID=&quot;https://www.wunderground.com/member/membersettings.html?page=favorites_1&quot;;return this.s_oc?this.s_oc(e):true"><i class="fi-star"></i></a></li>
  <li *ngFor="#favorite of favorites" class="is-city has-conds">
    <a href="{{favorite.url}}">
      <span class="city-name">{{favorite.niceName}}<i class="fi-info"></i></span>

		<span class="city-conds">
      {{favorite.condition}}
		</span>
      <span class="cond-icon-touch cond-set- cond-clear"></span>

      <span class="city-star" title="Add To Favorite Cities"></span>

    </a>
  </li>
</ul>
