<div class="favs-wrapper">
  <div id="favorites" class="favorites">
    <div class="favorites-bar" style="display: block;">
      <wuFavoriteBar [favorites]="favorites"></wuFavoriteBar>
    </div>
    <input type="button" class="favorites-list-toggle" value="▼" data-dropdown="favorites-list" style="display: none;">
    <div class="favorites-list f-dropdown" data-dropdown-content="" id="favorites-list"></div>
  </div>
</div>